.home{
    font-family: 'Poppins', sans-serif;
}

.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.spinner-style{
    width: 3rem !important; 
    height: 3rem !important;
}